html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}


/* Start of CSS by Sudhan */
.form-control.thick-border {
    border-width: 2px !important;
    border-color: #999 !important; /* slightly darker for visibility */
    border-radius: 4px;
}

.form-control.thick-border:focus {
    border-color: #198754 !important; /* Bootstrap success green */
    box-shadow: none;
}


.form-check-input {
    border: 2px solid #999 !important; /* Thicker and darker */
    width: 18px;
    height: 18px;
}

.form-check-input:checked {
    background-color: #198754; /* Bootstrap green fill */
    border-color: #198754;
}


.form-check-input:hover,
.form-check-input:focus {
    border-color: #198754;
    box-shadow: 0 0 2px #198754;
}

/* End of CSS by Sudhan */

.home-custom-btn {
    width: 250px;
    height: 50px;
    font-size: 16px;
    color: white;
    border: none;
}

.home-custom-btn {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}


.action-btn {
    display: inline-block;
    padding: 5px 10px;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.green-btn {
    background-color: #156548;
}

.blue-btn {
    background-color: #374E5F;
}

.cancel-btn {
    background-color: #651D15;
}

