@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Page</h1>
    <p>View <a asp-controller="Healthcare" asp-action="GetAllDoctors">doctors</a> </p> <!--links to List page and Add page -->
</div>
