@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />



    <div class="container my-5">
        <div class="row">
            <div class="col-md-6 text-center">
                <img src="Images/HomeImage.png" class="img-fluid" style="max-width: 80%;" />
            </div>
            <div class="col-md-6">
                <h2>Welcome to the Oakridge Family Medical Center Booking Platform!</h2>
                <p class="fs-5">Seamless doctor appointments at your fingertips—book, manage, and stay on top of your health with ease.</p>

                <div class="d-flex flex-column align-items-center gap-2 gap-2">
                <a class="home-custom-btn green-btn" asp-controller="Account" asp-action="AdminLoginForm">I am an admin</a>

                <a class="home-custom-btn blue-btn" asp-controller="Account" asp-action="PatientLoginForm">I am a patient</a>



                @* <p>View <a asp-controller="Healthcare" asp-action="GetAllDoctors">doctors</a></p>   temporary link, will take out once log in is working *@
                @* <p>View <a asp-controller="Admin" asp-action="GetDoctorsList">DOCTOR'S LIST FOR THE ADMIN SIDE</a></p>   temporary link, will take out once log in is working *@
                
                
                </div>

            </div>
        </div>


    </div>
